<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Cobrar Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let item of items">
    <ion-label>
      Data: {{item.cirurgia.data}} Matrícula: {{item.cirurgia.matricula}}
    </ion-label>
    <ion-item-sliding>
      <ion-item>
        Código: {{item.procedimento.referencia.codigo}}
        Descrição: {{item.procedimento.referencia.descricao}}
      </ion-item>
    <ion-item-options side="end">
      <ion-item-option button (click)="excluirProcedimento(item.procedimento, item.cirurgia)" color="danger">
        <ion-icon slot="end" name="trash"></ion-icon>
        Apagar
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <br>
  <ion-button size="default" expand="block">Enviar e-mail</ion-button>
</ion-content>
