<ion-header>
  <ion-toolbar class="header-format">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Procedimentos não pagos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let item of items">
    <ion-label class="label">
      <strong>Data: {{item.cirurgia.data}} - Atendimento: {{item.cirurgia.matricula}}</strong>
    </ion-label>
    <ion-item-sliding>
      <ion-item>
        Código: {{item.procedimento.referencia.codigo}} -
        Descrição: {{item.procedimento.referencia.descricao}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option button (click)="excluirProcedimento(item.procedimento, item.cirurgia)" color="danger">
          <ion-icon slot="end" name="trash"></ion-icon>
          Apagar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
