<ion-content padding>
  <h3>Sistema GPMO</h3>

  <img src="assets/icon/tela-inicial.png" alt="logo">

  <form>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <br>
      <ion-input name="email" inputmode="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <br>
      <ion-input name="senha" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block">Entrar</ion-button>
  </form>

  <ion-button expand="block" fill="outline">Registrar</ion-button>

  <h6>Versão 1.0.0</h6>

</ion-content>
