<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-menu-button color="primary"></ion-menu-button>
     </ion-buttons>
     <ion-title>
       Apagar Cirurgia
     </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Digite a Data da Cirurgia</ion-label>
    <br>
    <ion-input clear-input="true" clear-on-edit="true" required="true" type="date"></ion-input>
  </ion-item>
  <br>
  <ion-button id="open-card" expand="block" (click)="mostraCirurgias()">Buscar Cirurgias</ion-button>
  <br>

  <ion-card>
    <ion-item>
      <ion-checkbox slot="end"></ion-checkbox>
      <ion-label>Matrícula: 11111111</ion-label>
    </ion-item>
    <ion-card-content>
      Procedimentos:
      <ion-card>
        <ion-card-content>
          <p><span>Código: </span>
             <span>31303153</span>
          </p>
          <p><span>Descrição: </span>
             <span>fdfdfdsfadfdasfsdfdfa</span>
          </p>
          <p><span>Pontos: </span>
             <span>33</span>
          </p>
          <p><span>Valor: </span>
          <span>$300,00</span>
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <p><span>Código: </span>
             <span>31303153</span>
          </p>
          <p><span>Descrição: </span>
             <span>fdfdfdsfadfdasfsdfdfa</span>
          </p>
          <p><span>Pontos: </span>
             <span>33</span>
          </p>
          <p><span>Valor: </span>
          <span>$300,00</span>
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <p><span>Código: </span>
             <span>31303153</span>
          </p>
          <p><span>Descrição: </span>
             <span>fdfdfdsfadfdasfsdfdfa</span>
          </p>
          <p><span>Pontos: </span>
             <span>33</span>
          </p>
          <p><span>Valor: </span>
          <span>$300,00</span>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-checkbox slot="end"></ion-checkbox>
      <ion-label>Matrícula: 22222222</ion-label>
    </ion-item>
    <ion-card-content>
      Procedimentos:
      <ion-card>
        <ion-card-content>
          <p><span>Código: </span>
             <span>31303153</span>
          </p>
          <p><span>Descrição: </span>
             <span>fdfdfdsfadfdasfsdfdfa</span>
          </p>
          <p><span>Pontos: </span>
             <span>33</span>
          </p>
          <p><span>Valor: </span>
          <span>$300,00</span>
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <p><span>Código: </span>
             <span>31303153</span>
          </p>
          <p><span>Descrição: </span>
             <span>fdfdfdsfadfdasfsdfdfa</span>
          </p>
          <p><span>Pontos: </span>
             <span>33</span>
          </p>
          <p><span>Valor: </span>
          <span>$300,00</span>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>
