<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-menu-button color="primary"></ion-menu-button>
     </ion-buttons>
     <ion-title>
       Inserir Procedimentos
     </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="inserirProcedimentoFormGroup" (ngSubmit)="loadProcedimento(); $event.preventDefault()">
    <ion-list >
      <ion-radio-group formControlName="tipo" value="tipo">
        <ion-list-header>
          <ion-label>Tipo de Procedimento*</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Principal</ion-label>
          <ion-radio slot="end" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Secundário</ion-label>
          <ion-radio slot="end" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-list >
      <ion-radio-group formControlName="premio" value="premio">
        <ion-list-header>
          <ion-label>Prêmio do Procedimento*</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Pontos</ion-label>
          <ion-radio slot="end" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Valor</ion-label>
          <ion-radio slot="end" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-label position="floating">Código do procedimento*</ion-label>
      <ion-input formControlName="referenciaCodigo" type="digit" clearInput="true"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="inserirProcedimentoFormGroup.controls['referenciaCodigo'].dirty && inserirProcedimentoFormGroup.controls['referenciaCodigo'].errors" margin="left">O Código teve conter 8 dígitos</p>
    <br/>
    <ion-button (click)="mostraPorCodigo()" id="open-modal" expand="block" type="submit" [disabled]="inserirProcedimentoFormGroup.invalid">Inserir Procedimento</ion-button>
  </form>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()">Finalizar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-fab (click)="addMore()" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-item >
          <ion-label *ngIf="guardaResposta">
            <h2>Código: {{guardaResposta.codigo}}</h2>
            <p> <strong>Descrição:</strong> {{guardaResposta.descricao}} </p>
            <p> <strong>Pontos:</strong> {{guardaResposta.pontos}} </p>
            <p> <strong>Valor:</strong> {{guardaResposta.valor | currency }} </p>
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

